<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net461" />
  <package id="Castle.WcfIntegrationFacility" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="Dapper.Fluent" version="1.0.0.0" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net461" />
  <package id="FluentAutomation.Core" version="3.0.0.0" targetFramework="net461" />
  <package id="FluentAutomation.SeleniumWebDriver" version="3.0.0.0" targetFramework="net461" />
  <package id="FluentTests" version="1.1.1" targetFramework="net461" />
  <package id="FluentTests.MSTest" version="1.1.3" targetFramework="net461" />
  <package id="Glimpse" version="1.8.6" targetFramework="net461" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net461" />
  <package id="Hdir.Core.Test.DataGenerator" version="1.0.6317.20904" targetFramework="net461" />
  <package id="Hdir.Core.TestUtil" version="1.0.6275.27334" targetFramework="net461" />
  <package id="Hdir.Esaks.Core" version="1.173.13" targetFramework="net461" />
  <package id="Hdir.Esaks.Core.TestUtils" version="1.173.10" targetFramework="net461" />
  <package id="Hdir.Esaks.Core.UnitUtils" version="1.173.7" targetFramework="net461" />
  <package id="Hdir.Esaks.Felles.Kodeverk" version="1.173.10" targetFramework="net461" />
  <package id="Hdir.Esaks.Felles.P360" version="1.173.10" targetFramework="net461" />
  <package id="Hdir.Esaks.Felles.Wcf" version="1.173.10" targetFramework="net461" />
  <package id="Hdir.Esaks.Felles.Web" version="1.173.10" targetFramework="net461" />
  <package id="Hdir.Esaks.Felles.WebApi" version="1.173.10" targetFramework="net461" />
  <package id="Hdir.Esaks.JavascriptLibs" version="1.173.6" targetFramework="net461" />
  <package id="Hdir.Esaks.MessageContracts" version="0.9.4428.25637" targetFramework="net461" />
  <package id="Hdir.Esaks.Wcf.Security" version="1.173.10" targetFramework="net461" />
  <package id="LightBDD.Core" version="2.1.0.0" targetFramework="net461" />
  <package id="LightBDD.MsTest" version="1.7.3.0" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.Updated" version="15.0.26228" targetFramework="net461" />
  <package id="Moq" version="4.5.30" targetFramework="net461" />
  <package id="MS.QualityTools.UnitTestFramework.Specifications" version="1.0.2.0" targetFramework="net461" />
  <package id="MS.QualityTools.UnitTestFramework.Specifications.Signed" version="1.0.2.0" targetFramework="net461" />
  <package id="MSTest.Fluent" version="1.1.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.12" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="NServiceBus" version="2.6.0.1505" targetFramework="net461" />
  <package id="Selenium.Specflow.Automation.Kit" version="1.5.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.30.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.4.0" targetFramework="net461" />
  <package id="SeleniumExtensions" version="1.1.0.0" targetFramework="net461" />
  <package id="Selenium-WebDriver-Helpers" version="2.3.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net461" />
  <package id="Specflow.FluentAutomation" version="1.0.13" targetFramework="net461" />
  <package id="SpecFlow.MsTest" version="2.1.0" targetFramework="net461" />
  <package id="SpecSync.MTM" version="1.2.0" targetFramework="net461" />
  <package id="SteamWebAPI" version="1.0.14.42195" targetFramework="net461" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
</packages>